.owner-avatars {
    display: flex;
  }
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: -10px;
  }
  .more-owners {
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }